body {
    background-color:#333333;
    color:white;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

p {
    color: yellowgreen;
}
div p {
    color:teal;
}